{%load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Egresados UTP</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'navbar-top.css' %}" rel="stylesheet">
</head>
<body>
	<h1>Egresado</h1>
	{{InfoCorreo}}
	<br>
	{{InfoGracias}}
	{% if formEg %}
	<form method="POST" action="">{% csrf_token %}
	{{formEg.as_p}}
	<input type="submit" name="Registrame">
	</form>
	{% endif %}
</body>
</html>